@charset "utf-8";
/* 
Main CSS File
Capstone Law & Public Safety 2019 Central Campus
Date: 4.10.19
Authors: Chad Williams, Gabriel Fuentes
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Open Sans Font to use:
   font-family: 'Open Sans', sans-serif;
*/

* {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

div {
    line-height: 1.5;
}

/* Begin Nav Styles */
nav img {
    height: 75px;
}

nav {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(228, 127, 11);
    position: relative;
    z-index: 100;
}


nav div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 10px;
    align-content: center;
    max-width: 700px;
}

nav div li {
    padding: 0px;
    list-style-type: none;
    margin: 0px auto;
}

div.mobileNav {
    background: rgb(228, 127, 11);
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: none;
    padding: 20px;
    position: absolute;
    top: -500px;
    width: 100%;
    z-index: 100;
    transition: .4s;
}

div.mobileNav.open {
    background: rgb(228, 127, 11);
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: block;
    padding: 20px;
    position: absolute;
    top: 0px;
    padding-top: 90px;
    width: 100%;
    transition: .4s;

}

div.mobileNav a {
    display: block;
    font-size: 22px;
    padding: 6px 0;
    transition: .4s;
}

nav div li a {
    position: relative;
    text-decoration: none;
    color: #f8f8f8;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    transition: .2s;
}

nav div span {
    list-style-type: none;
    margin: 0px auto;
    color: #f8f8f8;
    font-size: 1.2em;
    font-weight: 400;
    transition: .2s;
    display: none;
}




nav div li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav div li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* End Nav Styles */

html {
    background: linear-gradient(to right, rgba(143, 86, 0, 0.95) 5%, rgba(0, 0, 0, 0.25)), url(../img/indexBackground.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 230px;
}

#heroImage div {
    /* background: rgba(27, 27, 27, 0.712); */
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
}


#heroImage h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(247, 247, 247);
    font-size: 80px;
    max-width: 700px;
    text-transform: uppercase;
}

#heroImage p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 24px;
    margin: 10px 0;
    max-width: 700px;
}

#heroImage a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 22px;
    text-decoration: none;
    border: 3px white solid;
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#heroImage a:hover {
    background: white;
    color: rgb(228, 127, 11);
    transition: .2s;
}

#heroImage img {
    position: absolute;
    left: 500px;
    top: 200px;
    max-width: 300px;
}

article#contentWrapper {
    margin-top: 70px;
    background: rgb(20, 20, 20);
}

/* apply now */
#apply {
    background: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

#apply h1 {
    font-size: 1.8em;
}

#apply a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: 3px white solid;
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#apply a:hover {
    background: white;
    color: rgb(228, 127, 11);
    transition: .2s;
}



/* Index Content */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 50px 25px 50px;
    border-radius: 5px;
    max-width: 1150px;
    width: 85%;
    margin: 0px auto;
    position: relative;
    top: -50px;
    background: rgb(71, 71, 71);
    color: white;
    line-height: 1.5;
}

.content h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}

.content hr {
    color: rgb(228, 127, 11);
    background-color: rgb(228, 127, 11);
    width: 80%;
    height: 4px;
    margin: 0 auto;
}

.content div {
    text-align: center;
}

.content div i {
    font-size: 140px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.856);
}

.content div img {
    height: 170px;
    position: relative;
    padding-top: 10px;
}

.content div:last-of-type img {
    height: 200px;
    position: relative;
    top: -25px;
}

.content div:last-of-type p {
    position: relative;
    top: -25px;
}

.content div p {
    padding: 10px;
    font-size: 1.2em;
}



.icon {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 50px;
    color: white;
    background: orange;
    padding: 10px;
}

/* div #break, seperates content */
#break {
    background: linear-gradient(to right, rgba(143, 86, 0, 0.95) 1%, rgba(0, 0, 0, 0.25)), url(../crimetape.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}

/* about styles */

#about {
    background: rgba(54, 54, 54, 0.863);
    color: white;
    line-height: 1.5;
}

#about h1 {
    color: white;
    font-size: 4em;
    padding-top: 10px;
    text-align: left;
    font-weight: 600;
    margin-left: 10%;
    color: rgb(228, 127, 11);
}

#about hr {
    color: rgb(199, 162, 0);
    background-color: rgb(228, 127, 11);
    width: 45%;
    margin-left: 20%;
    margin-bottom: 5px;
    height: 2px;
}

#about div {
    font-size: 1.2em;
    background: rgb(41, 41, 41);
    padding: 20px;
}

#about div div {
    padding: 50px 25px 0px 25px;
    margin: 0 auto;
}

#aboutButtons {
    max-width: 500px;
}


#about div p {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    font-size: 1.1em;
    line-height: 2;
}

#about div hr {
    margin: 0 auto;
    margin-top: 5%;
    width: 25%;
}

#about div a {
    font-family: 'Open Sans', sans-serif;
}

button#iPhoto,
button#curriculum {
    color: white;
    font-size: 22px;
    text-decoration: none;
    border: 3px white solid;
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 200px;
    margin: 0 auto;
}

#about button:hover {
    background: white;
    color: rgb(228, 127, 11);
    text-decoration: underline;
    transition: .2s;
}



#instructor {
    text-align: center;
}

#instructor img {
    width: 40%;
    margin-top: 10px;
}

#instructor h1 {
    font-size: 1.4em;
}

#instructor p {
    font-size: 1em;
    text-align: left;
}

.closedInstructor {
    display: none;
}





/* ctso styles */

article#contentWrapper2 {
    margin-top: 0px;
    background: rgb(20, 20, 20);
}


#ctso {
    line-height: 1.5;
    font-size: 1.2em;
    text-align: center;
}

#ctsoImg {
    height: 100%;
    width: 100%;
    max-width: 400px;
}

#ctsoImg2 {
    width: 100%;

}

#ctso2 {
    text-align: left;
    padding-left: 10px;
}

#ctso hr {
    width: 50%;
    margin-bottom: 10px;
}

#ctso p {
    margin-bottom: 40px;
}

#ctso div {
    max-height: 400px;
}

#content {
    margin-top: 40px;
}

#ctso a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 3px white solid;
    padding: 8px 1px;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 200px;
}


#ctso a:hover {
    background: white;
    color: rgb(228, 127, 11);
    transition: .2s;
}




/* gallery styles */
#about2 {
    background: rgba(54, 54, 54, 0.863);
    color: white;
    line-height: 1.5;
}

#about2 h1 {
    color: white;
    font-size: 4em;
    padding-top: 10px;
    text-align: right;
    font-weight: 600;
    margin-right: 20%;
    color: rgb(228, 127, 11);
}

#about2 hr {
    color: rgb(199, 162, 0);
    background-color: rgb(228, 127, 11);
    width: 45%;
    margin-left: 35%;
    margin-bottom: 5px;
    height: 2px;
}

#about2 div {
    padding: 25px 250px 75px 250px;
    font-size: 1.2em;
    background: rgb(41, 41, 41);
}

#about2 div div {
    padding: 50px 25px 0px 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
}


#about2 div p {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    font-size: 1.1em;
    line-height: 2;
}

#about2 div hr {
    margin: 0 auto;
    margin-top: 5%;
    width: 25%;
}

#about2 div a {
    font-family: 'Open Sans', sans-serif;
}

#about2 a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 22px;
    text-decoration: none;
    border: 3px white solid;
    padding: 10px 20px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about2 a:hover {
    background: white;
    color: rgb(228, 127, 11);
    transition: .2s;
}

/* gallery */
#gallery {
    text-align: center;
}

#gallery img {
    margin: 0 auto;
    width: 30%;
}

/* contact styles */
#contact {
    background: rgba(41, 41, 41, 0.767);
    margin: 0 auto;
    padding: 25px 250px 100px 250px;
}

#grid div {
    display: block;
}

#contact h1 {
    color: white;
    font-size: 2.5em;
    padding-top: 10px;
    text-align: left;
    font-weight: 600;
    margin-right: 20%;
    color: rgb(228, 127, 11);
}

#contact form {
    display: grid;
    grid-template-rows: (1fr, )
}

#contact form div {
    padding: 10px;
    margin-left: 10px;
}

#contact form input {
    background-color: rgba(255, 255, 255, 0.123);
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: white;
    border-radius: 2px;
}

#contact form label {
    color: orange;
    width: 10%;
    font-size: 1.4em;
}

#center {
    text-align: center;
    margin-top: 20px;
}

#submit {
    color: white;
    font-size: 22px;
    text-decoration: none;
    border: 3px white solid;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 200px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.397);
}

#submit:hover {
    background: white;
    color: rgb(228, 127, 11);
    transition: .2s;
}

textarea {
    background: rgba(255, 255, 255, 0.226);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 10px;
    resize: none;
    width: 50%;
}

/* footer styles */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: black;
    color: white;
    padding: 40px 40px 80px;
}

footer a {
    display: block;
}

footer a:hover {
    color: orange;
    transition: .2s;
}

footer hr {
    width: 25%;
}

footer div div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 6px;
}

footer div div a {
    color: black;
    background: orange;
    border-radius: 80px;
    text-align: center;
    font-size: 2.2em;
    padding: 10px 20px;
    margin: 5px;
    width: 70px;
}

footer div div a:hover {
    background-color: white;
    color: gray;
    transition: .2s;
}

footer h1 {
    color: rgb(221, 137, 11);
    font-size: 1.7em;
}

.underline {
    text-decoration: underline;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
    nav a {
        display: none;
    }

    nav img {
        height: 75px;
    }

    nav div span {
        display: block;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 10px;
    }

    .content div img {
        height: 100px;
    }



    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (max-width: 991px) {
        nav a {
            display: none;
        }

        nav img {
            height: 75px;
        }

        nav div span {
            display: block;
        }

        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        body {
            font-size: 10px;
        }

        * {
            scroll-behavior: initial;
        }

    }


    /* @media only screen and (min-width: 992px) {} */