@charset "utf-8";
/* 
Main CSS File
Capstone Law & Public Safety 2019 Central Campus
Date: 4.10.19
Authors: Chad Williams, Gabriel Fuentes
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Open Sans Font to use:
   font-family: 'Open Sans', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
}

/* Begin Nav Styles */
nav img {
    height: 75px;
}

nav {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(228, 127, 11);
    position: relative;
    z-index: 100;
}


nav div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 10px;
    align-content: center;
    max-width: 700px;
}

nav div li {
    padding: 0px;
    list-style-type: none;
    margin: 0px auto;
}

div.mobileNav {
    background: rgb(228, 127, 11);
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: block;
    padding: 20px;
    position: absolute;
    top: -500px;
    transition: .4s;
    width: 100%;
}

div.mobileNav.open {
    background: rgb(228, 127, 11);
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: block;
    padding: 20px;
    position: absolute;
    top: 0px;
    padding-top: 90px;
    width: 100%;
}

div.mobileNav a {
    display: block;
    font-size: 22px;
    padding: 6px 0;

}

nav div li a {
    position: relative;
    text-decoration: none;
    color: #f8f8f8;
    font-size: 1.2em;
    font-weight: 400;
    transition: .2s;
}

nav div span {
    list-style-type: none;
    margin: 0px auto;
    color: #f8f8f8;
    font-size: 1.2em;
    font-weight: 400;
    transition: .2s;
    display: none;
}




nav div li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: rgb(57, 57, 59);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav div li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* End Nav Styles */

html {
    background: linear-gradient(to right, rgba(143, 86, 0, 0.95) 5%, rgba(0, 0, 0, 0.25)), url(../img/indexBackground.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#heroImage div {
    /* background: rgba(27, 27, 27, 0.712); */
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
}


#heroImage h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(247, 247, 247);
    font-size: 80px;
    max-width: 700px;
    text-transform: uppercase;
}

#heroImage p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 24px;
    margin: 10px 0;
    max-width: 700px;
}

#heroImage a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 22px;
    text-decoration: none;
    border: 3px white solid;
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#heroImage a:hover {
    background: white;
    color: rgb(228, 127, 11);
}

#heroImage img {
    position: absolute;
    left: 500px;
    top: 200px;
    max-width: 300px;
}

article#contentWrapper {
    margin-top: 70px;
    background: rgb(20, 20, 20);
}


/* Index Content */
#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 50px 25px 50px;
    border-radius: 5px;
    max-width: 1150px;
    width: 85%;
    margin: 0px auto;
    position: relative;
    top: -50px;
    background: rgb(71, 71, 71);
    color: white;
}

#content h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}

#content hr {
    color: rgb(228, 127, 11);
    background-color: rgb(228, 127, 11);
    width: 80%;
    height: 5px;
    margin: 0 auto;
}

#content div {
    text-align: center;
}

#content div i {
    font-size: 140px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.856);
}

#content div img {
    height: 170px;
    position: relative;
    padding-top: 10px;
}

#content div:last-of-type img {
    height: 200px;
    position: relative;
    top: -25px;
}

#content div:last-of-type p {
    position: relative;
    top: -25px;
}

#content div p {
    padding: 10px;
    font-size: 1.2em;
}

.icon {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 50px;
    color: white;
    background: orange;
    padding: 10px;
}

#break {
    background: linear-gradient(to right, rgba(143, 86, 0, 0.95) 5%, rgba(0, 0, 0, 0.25)), url(../crimetape.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
}

#CTSO {
    background: white;
    text-align: center;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
    nav a {
        display: none;
    }

    nav img {
        height: 75px;
    }

    nav div span {
        display: block;
    }

    #content {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 10px;
    }

    #content div img {
        height: 100px;
    }



    /* Large devices (laptops/desktops, 992px and up) */
    /* @media only screen and (min-width: 992px) {} */